<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h3>首页</h3>
{% if username != None %}
    <p>{{ username }}:欢迎您<a href="{{ url_for('users.logout') }}">注销</a></p>
{% else %}
    <a href="{{ url_for('users.login') }}">登录</a>
{% endif %}


{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
</body>
</html>